/* General attricutes*/

*{
  margin: 0px;
  padding: 0px;
}

body{
  color: white;
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.4;
}



/* header*/

.header{
  display: flex;
  width: 100%;
  background-color: black;
  text-transform: uppercase;
  justify-content: flex-start;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;

}

.logo{
  display: flex;
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
  width: 2rem;

}

/* Home section */

.home{
    display: flex;
    width: 100%;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

.title{
  display: block;
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  padding-left: 3rem;
  padding-top: 2rem;
  text-transform: uppercase;
  align-items: center;
}

.title h1{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

.title h2{
  font-size: 1rem;
  font-weight: bold;
}
/* navigation bar*/

.navigation{
  display:flex;
  justify-content: space-around;
  width: 100%;
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mobile-nav{
  display: none;
}

/*articles section */

@media only screen and (max-width: 1024px){
  .pictures{
    width: 47%;
  }

  .navigation h4{
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}

.presentation{
  display: flex;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.articles{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 3rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}

.articles h5{
  text-align: center;
  width: 100%;
}

.pictures{
  display: flex;
  margin: 5px;
  width: 30%;
}

.pictures img{
  display: flex;
  max-width: 8rem;
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 3rem;
  align-items: center;
  justify-content: center;

}
.photos img{
  display: flex;
  border-color: 4px solid black;
}
.pictures h5{
  background-color: black;
  padding-top: 05rem auto;
}


/* informations section*/

.informations{
 display: flex;
 background-color: white;
 justify-content: space-between;
 align-content: center;
 padding-bottom: 4rem;
 width: 100%;
}

.location{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  width: 35%;
}

.hours{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  width: 35%;
}

@media only screen and (max-width: 470px){
    .mobile-nav {
    display: block;
    text-align: center;
  }

    .navigation h4{
    display: none;
  }
    .pictures{
    width: 90%;
  }

    .title h2{
    font-size: 0.77rem;
    padding-left: 2rem;
  }

    .title h1{
      font-size: 1rem;
      padding-left: 2rem;
    }

    .title{
      margin top: 10rem;
      height: 5rem;
      padding-top: 1rem;
     padding-bottom: 1rem;
    }

    .home{
      align-content: center;
      height: 15rem;
    }
}

/*Footer*/

footer{
  display: flex;
  width: 100%;
  background-color: black;
  height: 5rem;
  text-align: left;
  align-items: center;
}
